<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My CRUD</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../../public/styles.css'>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

</head>

<body>
    <section class="container">
        <div class="row mt-3">
            <div class="col md-3">
                <h3>Registar novo Cliente</h3>
                <form class="add-client-form">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" minlength="3" maxlength="100" id="nome" required>
                    </div>
                        <div class="form-group" id="dados-cliente">
                            <label for="cpf" class="form-label">CPF</label>
                            <input type="text" class="form-control" id="cpf" required>
                        </div>
                        <div class="form-group">
                            <label for="endereco">Endereço</label>

                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" id="cep" required>

                            <label for="logradouro">Logradouro</label>
                            <input type="text" class="form-control" id="logradouro">

                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" name="bairro" id="bairro">

                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" name="cidade" id="cidade">

                            <label for="uf">UF</label>
                            <input type="text" class="form-control" name="uf" id="uf">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="contatos" class="form-label">Contatos:</label>

                            <label for="tel-residencial" class="form-label">Tel. Residencial</label>
                            <input type="text" class="form-control" name="tel-residencial" id="telresidencial">

                            <label for="tel-comercial">Tel. Comercial</label>
                            <input type="text"  class="form-control" name="tel-comercial" id="telcomercial">

                            <label for="tel-celular">Tel. Celular</label>
                            <input type="text" class="form-control" name="tel-celular" id="telcelular" required>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email-value">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                </form>

                <section class="clients-list">
                    <div class="client-list row">
                 <!--       <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="cliente-nome">Cliente Teste</h5>
                                    <p class="cliente-cpf">CPF</p>
                                    <p class="cliente-endereco">END.</p>
                                    <p class="cliente-telefones">CONTATOS</p>
                                    <p class="cliente-email">EMAIL</p>
                                    <a href="#" class="btn btn-primary">Editar</a>
                                    <a href="#" class="btn btn-danger">Excluir</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $("#telresidencial, #telcomercial").keypress(function () { $(this).mask("(00) 0000-0000") });
        $("#telcelular").keypress(function () { $(this).mask("(00) 0.0000-0000") });
        $("#telresidencial, #telcomercial").keypress(function () { $(this).mask("(00) 0000-0000") });

        $("#cpf").keypress(function () { $(this).mask("000.000.000-00") });

        $("#cep").keypress(function () { $(this).mask("00.000-000") });
    </script>

    <script src='../../../public/main.js'></script>
</body>

</html>